/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0px;
  padding: 0px;
}

h1 {
  background: #ffff99;
  font-family: calibri, sans-serif;
  font-weight: normal;
  margin: 0px;
  padding: 10px;
  width: 100%;
}

nav {
  background: #ffffdd;
  font-family: calibri, sans-serif;
  padding: 10px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

div {
  margin: 10px;
}

div.nopadding {
  margin: 0px;
}

div.col1 {
  border: 1px solid #ddd;
  width: 300px;
}

div.col2 {
  float: right;
  width: 200px;
}

div.colAll {
  width: 1200px;
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

div.card {
  width: 300px;
  background: #eee;
  padding: 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

div.card h3 {
  padding: 2px 0px;
  margin: 2px 0px;
}

a.boldSelector {
  font-weight: bold;
}

span.barChart {
  display: inline-block;
  width: 10px;
  height: 12px;
  background: lightblue;
}

.x {
  float: right;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
